body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh;
}
.nav-link {
    margin-left: 40px;
}

#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a {
  color: white;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}